<div class="pure-g" ng-controller="AboutController">
  <form class="pure-u-1-1 ng-submit="submit()" formBackground" action="">
    <label for="dailyEntry1">Daily Entry</label>
      <input type="text" name="dailyEntry1" ng-model="dailyEntry1"/><br/>
    <label for="dailyEntry2">Name</label>
      <input type="text" name="dailyEntry2" ng-model="dailyEntry2"/><br/>
    <label for="dailyEntry3">Favorite Baseball Team</label>
      <input type="text" name="dailyEntry3" ng-model="dailyEntry3"/><br/>
  </form>
    <div class="pure-u-1-1 output">
      <p>{{dailyEntry1}}</p>
      <p>{{dailyEntry2}}</p>
      <p>{{dailyEntry3}}</p>
    </div>

<section class="pure-u-1-1">
  Click a Section? {{ greeting }}
</section>
<br/>
<br/>
<button ng-click="addItem()">add item</button>
<input type="submit" id="submit" value="Submit" ng-click="submit()" />
</div>
